.cl-internal-b3fm6y{
    visibility: hidden;
}
.cl-internal-1fsg6zy{
    background-color: #8260E2;
}
/* .cl-internal-1g55m7r{
    color: #8260E2;
}
.cl-internal-1kii5f8{
    background-color: #8260E2;
}
.cl-internal-am3h3o{
    color: #8260E2;
} */
